<link rel="stylesheet" href="bundle.css"> 
<div class="cdapp-bundle-page">
    <div class="cdapp-bundle-container">
        <h1 class="cdapp-bundle-heading">Bundle page</h1>
        {% assign bundles_meta = app.metafields.cdapp_bundle.bundles.value %}
        <p class="cdapp-bundle-text">Content of your bundle page shown here:</p>
        <ul>
            {% for key_value in bundles_meta['bundles'] %}
                <li>
                    <strong>{{ key_value[0] }}: </strong>
                    {% assign products_arr = key_value[1]['products'] | split: '||' %}
                    <ul>
                        {% for product_str in products_arr %}
                            <li>
                                {% assign product_handle = product_str | split: '=' | last %}
                                {% assign product = all_products[product_handle] %}
                                {{ product.title }}<br>
                                {{ product.price | money }}
                            </li>
                        {% endfor %}
                    </ul>
                    
                </li>
            {% endfor %}
        </ul>
    </div>    
</div>