.w-60 { width: 60%; }
.w-40 { width: 40%; }
.w-30 { width: 30%; }
.w-20 { width: 20%; }

.rowList { border-top: var(--p-border-base); margin-top: var(--p-space-5); padding-bottom: var(--p-space-2); }
.rowItem { padding: var(--p-space-2) var(--p-space-5); }
.rowItem:not(:last-child) { border-bottom: var(--p-border-divider);}
.rowItem button { display: block; }
.indexNo { display: inline-block; min-width: 1.25rem; }

.flex { display: flex; }
.grid-uniform { margin-top: calc(var(--pc-stack-spacing) * -1); margin-left: calc(var(--pc-stack-spacing) * -1); flex-wrap: wrap; }
.grid-uniform > div { padding-top: var(--pc-stack-spacing); padding-left: var(--pc-stack-spacing); }

.space-top-6 { padding-top: var(--p-space-6); }
.space-bottom-5 { padding-bottom: var(--p-space-5); }

.preview-image { position: relative; display: flex; align-items: center; justify-content: center; padding-bottom: 100%; }
.preview-image img { position: absolute; top: 0; left: 0; bottom: 0; right: 0; max-width: 100%; max-height: 100%; margin: auto; display: block; }
.center-10 { align-items: center; display: flex; justify-content: center; min-height: 10rem;}

.editor-toolbar { background-color: var(--p-surface-subdued); gap: var(--p-space-2); border-width: 1px 1px 0 1px; border-style: solid; border-color: var(--p-border-neutral-subdued); border-radius: var(--p-border-radius-1) var(--p-border-radius-1) 0 0; padding: .375rem var(--p-space-2); display: flex; flex-wrap: wrap; }
.editor-tool-group { display: flex; flex-wrap: wrap; gap: var(--p-space-1); }
.editor-tool-group:not(:last-child) { border-right: var(--p-border-width-1) solid var(--p-border-neutral-subdued); padding-right: 8px; }
.editor-markup { padding: var(--p-space-2); min-height: 150px; max-height: 500px; overflow-y: auto; border-radius: 0 0 var(--p-border-radius-1) var(--p-border-radius-1); border: var(--p-border-width-1) solid var(--p-border-neutral-subdued); }
.editor-markup:focus { border-color: var(--p-focused); box-shadow: inset 0 0 0 0 #0000,0 0 0 1px var(--p-focused); }
.editor-markup p { margin: 0 0 1em 0; }
.editor-markup h1 { font-size: 2em; font-weight: bold; line-height: 1.4; margin: 0 0 1em 0; }
.editor-markup h2 { font-size: 1.5em; font-weight: bold; line-height: 1.4; margin: 0 0 1em 0; }
.editor-markup h3 { font-size: 1.17em; font-weight: bold; line-height: 1.4; margin: 0 0 1em 0; }
.editor-markup h4 { font-size: 1em; font-weight: bold; line-height: 1.4; margin: 0 0 1em 0; }
.editor-markup ul li { line-height: normal; }
.editor-tool { height: 1.5rem; width: 1.5rem; display: block; margin: 0; padding: 0; border: none; background: transparent; border-radius: var(--p-border-radius-1); cursor: pointer; }
.editor-tool:disabled { cursor: default; color: var(--p-text-disabled); }
.editor-tool:not(:disabled):hover { background-color: var(--p-surface-neutral-hovered); color: var(--p-text-subdued); }
.editor-tool.editor-tool-active, .editor-tool.editor-tool-active:hover { background-color: var(--p-surface-selected-pressed);color: var(--p-interactive); }
.editor-tool svg { fill: var(--p-icon) }
.editor-tool:disabled svg { fill: var(--p-icon-disabled)}
.editor-tool-options { padding: var(--p-space-05) 0 var(--p-space-05) .375rem; line-height: 1; min-width: 7.5rem; border-radius: var(--p-border-radius-1); color: var(--p-icon); background-color: transparent; border: none; margin: 0; cursor: pointer; display: flex; align-items: center; justify-content: space-between; font-size: var(--p-font-size-100); font-weight: var(--p-font-weight-medium); }
.editor-tool-options:hover { background-color: var(--p-surface-neutral-hovered); color: var(--p-text-subdued); }
.editor-tool-options.editor-options-opened,.editor-tool-options.editor-options-opened:hover { background-color: var(--p-surface-selected-pressed); color: var(--p-interactive); }
.shortLine {max-width: 9.375rem; padding-bottom: var(--p-space-4);}

.editor-tool-list { margin: 0; padding: 0; }
.editor-tool-list > li { list-style: none; }
.editor-tool-list > li > button { background-color: transparent;border: none;padding: var(--p-space-2) var(--p-space-4) var(--p-space-2) var(--p-space-8); display: flex; height: 3rem; cursor: pointer; margin: 0; position: relative; align-items: center; color: var(--p-text); font-size: var(--p-font-size-100); font-weight: var(--p-font-weight-regular); line-height: var(--p-font-line-height-2); width: 100%; }
.editor-tool-list > li:not(:first-child) { border-top: var(--p-border-width-1) solid var(--p-divider); }
.editor-tool-list > li > button:hover { background-color: var(--p-surface-hovered); }
.editor-tool-list > li > button.editor-option-active,.editor-tool-list > li > button.editor-option-active:hover { background-color: var(--p-surface-selected); }
.editor-tool-list > li > button .editor-option-selected-mark { position: absolute; top: 0; left: .75rem; height: 100%; display: flex; align-items: center; }
.editor-tool-list .editor-preview-h1 { font-size: var(--p-font-size-500); font-weight: var(--p-font-weight-bold); line-height: var(--p-font-line-height-5); }
.editor-tool-list .editor-preview-h2 { font-size: 1.375rem; font-weight: var(--p-font-weight-bold); line-height: var(--p-font-line-height-5); }
.editor-tool-list .editor-preview-h3 { font-size: 1.125rem; font-weight: var(--p-font-weight-bold); line-height: var(--p-font-line-height-5); }
.editor-tool-list .editor-preview-h4 { font-size: .9375rem; font-weight: var(--p-font-weight-bold); line-height: var(--p-font-line-height-5); }
.ColorPicker {font-size: var(--p-font-size-200); font-weight: var(--p-font-weight-regular); line-height: var(--p-font-line-height-3); min-height: 2.25rem; padding: calc((2.25rem - var(--p-font-line-height-3) - var(--p-space-05))/2) var(--p-space-3); padding-left: var(--p-space-2); border: var(--p-border-width-1) solid var(--p-border-subdued); font-family: var(--p-font-family-sans); position: relative; border-radius: var(--p-border-radius-1); display: flex; align-items: center;}
.ColorPicker input { cursor: pointer;background-color: transparent; padding: 0; border: none; width: 1.45rem; height: 1.45rem; display: inline-block; vertical-align: middle; }
.ColorPicker label { padding-left: var(--p-space-2);cursor: pointer; flex: 1 1 auto;}

.indexHeader {padding: var(--p-space-3) var(--p-space-4) 0;}
.tabYContainer {display: flex;flex-wrap: wrap;border-top: var(--p-border-width-1) solid var(--p-divider);}
.tabYContainer .tabPanel { flex: 1 1 100%; }
.tabYContainer .contentPanel {flex: 1 1; max-width: 100%;}
.tabYContainer .tabPanel ul {margin: 0;padding-top: var(--p-space-4);padding-left: 0; padding-right: 0;list-style: none;}
.tabYContainer .tabPanel ul li {display: flex;}
.tabYContainer .tabPanel ul li button {display: flex;border: none;font-size: var(--p-font-size-200);font-weight: var(--p-font-weight-semibold);line-height: 2.25rem;color: var(--p-border-radius-1);text-align: left;padding: 0 var(--p-space-1) 0 var(--p-space-3);margin: 0 var(--p-space-2);flex-grow: 1;align-items: flex-start;border-radius: var(--p-border-radius-1);cursor: pointer;max-width: 100%;background: no-repeat;position: relative;}
.tabYContainer .tabPanel ul li button:hover { background: var(--p-background-hovered); color: var(--p-text); }
.tabYContainer .tabPanel ul li button.selected {color: var(--p-text-primary);background-color: var(--p-background-selected);outline: var(--p-border-width-1) solid transparent;font-weight: var(--p-font-weight-semibold);}
.tabYContainer .tabPanel ul li button.selected:before {content: '';position: absolute; top: 0.0625rem; bottom: 0.0625rem; left: calc(var(--p-space-2)*-1); width: 0.1875rem; background-color: var(--p-action-primary); border-top-right-radius: var(--p-border-radius-1); border-bottom-right-radius: var(--p-border-radius-1);}
.tabYContainer .tabPanel ul li button .tabText {flex: 1 1 auto;font-size: var(--p-font-size-200);line-height: var(--p-font-line-height-2);margin-top: calc(var(--p-space-2) + var(--p-space-05)); margin-bottom: calc(var(--p-space-2) + var(--p-space-05));}
.tabYContainer .tabPanel ul li button .tabCount {width: 1.25rem;height: 1.25rem;flex-shrink: 0;background-color: var(--p-icon);border-radius: 50%;color: #fff;font-size: 10px;display: flex;align-items: center;justify-content: center;font-weight: 600;margin-top: calc(var(--p-space-2) + var(--p-space-05));margin-right: var(--p-space-3);margin-bottom: calc(var(--p-space-2) + var(--p-space-05));}
.tabYContainer .tabPanel ul li:not(:first-child) button {border-top: var(--p-border-width-1) solid var(--p-surface);}
.tabYContainer .contentPanel { padding: var(--p-space-4); }
.tabYContainer .tabContent:not(.active) {display: none;}

@media (min-width: 30.625em) {
    .indexHeader { padding: var(--p-space-3) 0 0; }   
    .tabYContainer .contentPanel { padding: var(--p-space-5); }

    .max-wMdUp-17 {max-width: 17.625rem;}
}

@media (min-width: 48em) {
    .ColorPicker { font-size: var(--p-font-size-100); }
    .tabYContainer .tabPanel { max-width: calc(15rem + env(safe-area-inset-left));border-right: var(--p-border-width-1) solid var(--p-divider);}
    .tabYContainer .tabPanel ul { padding-bottom: var(--p-space-4); }
    .tabYContainer .tabPanel ul li button.selected{ font-weight: var(--p-font-weight-medium); }
    .tabYContainer .tabPanel ul li button { font-weight: var(--p-font-weight-medium); line-height: var(--p-font-line-height-5); }
}